@model projetemsiarch.Models.Etudiant

@{
    ViewData["Title"] = "Modifier un étudiant";
}

<h2 class="text-center text-dark">@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <input asp-for="Id" hidden />

    <div class="mb-3 row">
        <label asp-for="Nom" class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
            <input asp-for="Nom" class="form-control" />
            <span asp-validation-for="Nom" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label asp-for="Prenom" class="col-sm-2 col-form-label">Prénom</label>
        <div class="col-sm-10">
            <input asp-for="Prenom" class="form-control" />
            <span asp-validation-for="Prenom" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row">
        <label asp-for="Password" class="col-sm-2 col-form-label">Mot de Passe</label>
        <div class="col-sm-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group mt-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-warning">Modifier</button>
        <a href="@Url.Action("Index", "Etudiant")" class="btn btn-secondary">Retour à la liste</a>
    </div>
</form>
