<form asp-action="Ajouter" asp-controller="Etudiant" method="post">
    <div>
        <label>Nom :</label>
        <input type="text" name="Nom" required />
    </div>
    <button type="submit">Ajouter</button>
</form>
